*
  margin: auto 0

.header
  display: flex
  flex-direction: row
  justify-content: space-between
  margin: 0 20vw
  &__item
    text-decoration: none
    background-color: red
    color: white
    border-color: black
  &__sub-header
    &__item
      text-decoration: none 
      color: black
      &--active
        color:blue

