@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800");
* {
  margin: auto 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.account-form {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  justify-items: center;
  height: 12vh;
  width: 100%;
}
.account-form__input {
  width: 85%;
  height: 90%;
  padding-left: 10%;
}
.account-form__button {
  background-color: #f00;
  border: none;
  height: 55%;
  width: 40%;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}
