* {
  margin: auto 0;
}
.header {
  margin: 5vh 10vw;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.header__logo {
  color: #f00;
  font-size: 25px;
  justify-self: start;
  font-weight: 600;
  text-transform: uppercase;
}
.header__item {
  text-decoration: none;
  border-color: #000;
}
.header__sub-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
.header__sub-header__item {
  text-decoration: none;
  color: #000;
}
.header__sub-header__item--active {
  border-bottom: 2px solid #f00;
}
