 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');
*
  margin: auto 0
  font-family: Montserrat, Arial, Helvetica, sans-serif

.header
  // margin: 3vh 10vw
  padding: 3vh 3vw
  font-size: 16px
  display: grid
  grid-template-columns: 1fr 1fr
  justify-items: center
  border-bottom: 6px solid gray
  &__logo
    color: white
    background-color: red
    padding: 5px 9px
    font-size: 25px
    justify-self: start
    font-weight: 600
    text-transform: uppercase
  &__item
    text-decoration: none
    border-color: black
  &__sub-header
    display: grid
    grid-template-columns: repeat(3, 1fr)
    justify-items: center
    font-weight: 600
    &__item
      text-decoration: none 
      color: black
      position: relative;
      z-index : 1;
      &:hover
        color: red
      &--active
        &::before
          content : "";
          position: absolute;
          left    : 10%;
          bottom  : -10px;
          height  : 2px;
          width   : 80%; 
          border-bottom: 2px solid red
        &:hover
          color: black

.dashboard
  margin: 0 2vw

.user-form
  width: 40%
  margin: auto
  margin-top: 12vh
  display: grid
  font-size: 18px
  justify-items: center
  &__label
    margin: 20px 0
  &__input
    width: 70%
    height: 9vh
    padding-left: 10%
  button
    background-color: red
    border: none 
    width: 80%
    margin-top: 20px
    height: 10vh
    font-weight: 600

.accounts
  margin: 0 2vw
  &__titles
    margin-top: 8vh
    display: grid
    grid-template-columns: 50% 25% 25%
    justify-items: center

.account-view
  font-weight: 600
  margin: 5vh 0
  display: grid
  grid-template-columns: 50% 25% 25%
  padding: 5vh
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 20px 0 rgba(0,0,0,0.1);
  &__balance
    justify-self: center
  &__options
    justify-self: center
    a
      text-decoration: none
      color: white
      background-color: red
      padding: 4px 12px


