 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');
*
  margin: auto 0
  font-family: Montserrat, Arial, Helvetica, sans-serif

.user-form
  width: 40%
  margin: auto
  margin-top: 12vh
  display: grid
  font-size: 18px
  justify-items: center
  &__label
    margin: 10px 0
    justify-self: start
  &__input
    width: 90%
    height: 6vh
    padding-left: 10%
    border: 1px solid gray
    &:required
      box-shadow: none
  button
    background-color: red
    border: none 
    width: 100%
    margin-top: 20px
    height: 7vh
    color: white
    font-size: 25px
    font-weight: 600

.accounts
  margin: 0 2vw
  &__titles
    margin: 40px 0
    display: grid
    grid-template-columns: 50% 25% 25%
    justify-items: center

.account-card
  display: grid
  grid-template-columns: 50% 25% 25%
  font-weight: 600
  margin-top: 1vh
  margin-bottom: 1vh
  padding: 5vh
  padding-left: 5vw
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.03);
  &__balance
    justify-self: center
  &__options
    justify-self: center
    a
      padding: 8.5px 18px
  &__button
    text-decoration: none
    color: white
    background-color: red
    padding: 8px 18px
    font-weight: 600
    border: none
    margin: auto
    margin-left: 4px

.account-form
  display: grid
  grid-template-columns: 50% 25% 25%
  justify-items: center
  height: 12vh
  width: 100%
  &__input
    width: 85%
    height: 90%
    padding-left: 10%
  &__button
    background-color: red
    border: none 
    height: 55%
    width: 40%
    font-size: 30px
    color: white
    font-weight: 600